@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #000;
}

body {
    background-color: #111;
}

#root {
    width: 1024px;
    margin: 0 auto;
}

.btn-link
{
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    #root {
        width: 100%;
    }

}
